*{
    padding: 0;
    margin: 0;
    //outline: red 1px solid;
}

main{
    background-color: #D9D9D9;
}

body{
    background-color: #D9D9D9;
}

.flex-row{display: flex; flex-direction: row;}

.font-piridi{
    font-family: 'Piridi', sans-serif;
}

.font-rhodium{
    font-family: 'Rhodium_Libre', sans-serif;
}

header{
    position: sticky;
    color: #121113;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 6vw;
    background-color: #d9d9d9;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    background-color: #EFEFEF;
}

nav{
    color: #ffffff;
    margin-left: 20px;
    display: flex;
    align-items: center;
    margin-left: 30%;
    height: 80px;
    width: 50%;
    font-size: 1.2vw;
}

nav a{
    text-decoration: none;
    color: #121113;
}

.home-decoration{
    font-weight: bold;
}

.space-nav{
    margin-right: 50px;
}

.contact-black{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #ffffff;
    background-color: #121113;
    height: 30px;
    width: 100px;
}

.name-decoration{
    text-decoration: none;
    color: #121113;
}

.name{
    font-size: 2.6vw;
    margin-right: 15%;
    margin-left: 5%;
    align-content: center;
    height: 100px;
    width: 30%;
    gap: 10px;
}

.code-design{
    padding-top: 100px;
    margin-bottom: 200px;
    font-size: 5vw;
    display: flex;
    flex-direction: column;
}

.wereld-code{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.wereld-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.design{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -55px;
    justify-content: center;
    align-items: center;
}

.code-text{
    font-weight: bold;
}

.design-text{
    font-family: "Pridi", sans-serif;
    font-weight:900;
}

.tygo-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    height: 500px;
    background-color: #6C6D6C;
    padding: 20px;
}

.tygo-foto{
    border-radius: 20px;
}

.tygo-text{
    font-weight: 400;
    gap: 40px;
    color: #ffffff;
}

.tygo-text-one{
    font-size: 80px;
    margin-bottom: 40px;
}

.tygo-text-two{
    font-weight: 100;
    font-size: 1.6vw;
    width: 500px;
}

.meer-button{
    align-self: flex-end;
    margin-bottom: 60px;
    width: 150px;
    height: 30px;
    text-align: center;
    align-content: center;
    padding: 5px;
    border-radius: 10px;
    background-color: #D9D9CD;
    text-decoration: none;
    color: #121113;
    font-size: 18px;
    font-weight: bold;
}

.projecten-text{
    text-align: center;
    margin-top: -36px;
    margin-bottom: 50px;
    font-size: 12vw;
    font-weight: 100;
}

.project-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #ffffff;
    margin-bottom: 60px;
}

.project-box-one{
    width: 24%;
    height: 405px;
    background-color: #6C6D6C;
    padding: 20px;
    border-radius: 30px;
}

.project-box-two{
    width: 24%;
    height: 405px;
    background-color: #6C6D6C;
    padding: 20px;
    border-radius: 30px;
}

.project-box-three{
    width: 24%;
    height: 405px;
    background-color: #6C6D6C;
    padding: 20px;
    border-radius: 30px;
}

.code-lezen{
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    text-decoration: underline ;
    color: #EFEFEF;
}

.project-top-text{
    display: flex;
    justify-self: center;
    font-size: 3vw;
    margin-bottom: 30px;
}

.project-picture{
    display: flex;
    justify-self: center;
}

.project-bottom-text{
    font-size: 1.5vw;
    margin: 20px;
    text-align: center;
    font-weight: 100;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.talen{
    width: 100%;
    height: 600px;
    background-color: #D9D9D9;
}

.talen-text{
    text-align: center;
    margin: 30px;
    font-size: 200px;
    font-weight: 100;
}

.talen-box{
    background-color: #D9D9D9;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-self: center;
    border-radius: 30px;
    color: #ffffff;
    margin-bottom: 60px;
    width: 80%;
    background-color: #343435;
}

.talen-box-one{
    color: #353D2F;
    align-content: center;
    font-size: 1.3vw;
    width: 25%;
    height: 80%;
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 20px;
}

.talen-box-two{
    color: #353D2F;
    align-content: center;
    font-size: 1.3vw;
    width: 25%;
    height: 80%;
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 20px;
}

.talen-box-three{
    color: #353D2F;
    align-content: center;
    font-size: 1.3vw;
    width: 25%;
    height: 80%;
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 20px;
}

.wie-ben-ik{
    height: 600px;
    width: 100%;
    background-color: #D9D9D9;
}

.wie-ik-font{
    font-size: 6vw;
    display: flex;
    justify-self: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.wat-doe-ik{
    text-align: left;
    margin-left: 10%;
    width: 50%;
}

.wat-doe-text-one{
    font-size: 3vw;
    margin-bottom: 10px;
}

.wat-doe-text-two{
    font-size: 1.8vw;
    font-weight: 100;
}

.over-mij{
    display: flex;
    justify-self: flex-end;
    text-align: right;
    margin-right: 10%;
    width: 50%;
    margin-top: -100px;
}

.ervaring{
    height: 500px;
}

.mijn-ervaring-text-one{
    font-size: 10vw;
    font-weight: 100;
    display: flex;
    justify-self: center;
    margin-top: -200px;
}

.albert-heijn{
    display: flex;
}

.ah-text-box{
    height: 200px;
    width: 40%;
    border-radius: 20px;
    text-align: left;
    font-size: 1.8vw;
    padding-left: 20px;
    align-content: center;
    background-color: #ffffff;
}

.ah-box{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.contact{
    display: flex;
    align-items: center;
    padding: 2%;
    font-weight: 100;
}

input{
    margin-left: 5px;
    height: 100%;
    width: 100%;
    font-size: 1.1vw;
    border-radius: 5px;
    outline: none;
}

.box-contact{
    display: flex;
    align-self: flex-end;
    align-items: flex-start;
    margin: 50px;
    height: 370px;
    width: 50%;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
}

.send-intrest{
    gap: 5%;
}

.naam-contact{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.naam-contact-box{
    border-radius: 30px;
    width: 80%;
    padding-left: 10px;
}

.bericht-box{
    margin-top: 50px;
}

.bericht-contact-box{
    height: 120px;
    width: 150%;
    border-radius: 30px;
}

.first-text-contact{
    font-size: 7vw;
}

.second-text-contact{
    font-size: 3vw;
    margin-bottom: 50px;
}

.send-button{
    color: #10151A;
    font-size: 1.6vw;
    height: auto;
    width: 12%;
    outline: #121113 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    align-self: flex-end;
    border-radius: 30px;
    margin-top: 30px;
    margin-right: 20px;
}

.input-select{
    align-content: center;
    justify-self: center;
    flex-direction: row;
    text-align: left;
    outline: #121113 solid 1px;
    border-radius: 20px;
    height: 45px;
    width: 340px;
    padding-left: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.1vw;
    font-weight: 100;
}

a{
    text-decoration: none;
    color: inherit;
    color: #121113;
}

.footer-site{
    margin-left: 80px;
    width: 25%;
}

.footer-text{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    font-size: 1.2vw;
}

.invisible{
    width: 35%;
}

footer {
    display: flex;
    color: #ffffff;
    width: auto;
    color: #121113;
    background-color: #EFEFEF;
    font-weight: 100;
    padding: 40px 40px 20px 40px;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
}
