*{
    padding: 0;
    margin: 0;
}

header{
    color: #121113;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #d9d9d9;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}

nav{
    color: #ffffff;
    margin-left: 20px;
    display: flex;
    align-items: center;
    margin-left: 40%;
    height: 100px;
    width: 40%;
    font-size: medium;
}

nav a{
    text-decoration: none;
    color: #121113;
}

.home-decoration{
    font-weight: bold;
}

.space-nav{
    margin-right: 50px;
}

.contact-black{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #ffffff;
    background-color: #121113;
    height: 30px;
    width: 100px;
}

.name-decoration{
    text-decoration: none;
    color: #121113;
}

.name{
    font-size: 30px;
    margin-right: 15%;
    margin-left: 5%;
    align-content: center;
    height: 100px;
    width: 20%;
    gap: 10px;
}

.code-design{
    margin-top: 160px;
    margin-bottom: 200px;
    font-size: 73px;
    align-self: flex-start;
}

.wereld-code{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.wereld-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.design{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -60px;
    align-items: center;
}

.code-text{
    font-weight: bold;
}

.design-text{
    font-family: "Pridi", sans-serif;
    font-weight:900;
}

.tygo-box{
    display: flex;
    flex-direction: row;
    height: 500px;
    background-color: #6C6D6C;
    padding: 20px;
}

.tygo-foto{
    margin-left: 150px;
    padding-top: 60px;
}

.tygo-tekst{
    margin-left: 120px;
    margin-top: 120px;
    font-weight: 400;
    color: #ffffff;
}

.tygo-text-one{
    margin-bottom: 60px;
    font-size: 80px;
}

.tygo-text-two{
    font-weight: lighter;
    width: 470px;
}

.meer-button{
    align-self: flex-end;
    margin-bottom: 60px;
    width: 150px;
    height: 30px;
    text-align: center;
    align-content: center;
    padding: 5px;
    border-radius: 20px;
    background-color: #D9D9CD;
    text-decoration: none;
    color: #121113;
    font-size: 18px;
    font-weight: bold;
}

.projecten-text{
    margin-top: -50px;
    margin-bottom: 70px;
    font-size: 231px;
    font-weight: 100;
}

.project-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #ffffff;
    margin-bottom: 60px;
}

.project-box-one{
    width: 23%;
    height: 400px;
    background-color: #6C6D6C;
    padding: 20px;
    border-radius: 40px;
}

.project-box-two{
    width: 23%;
    height: 400px;
    background-color: #6C6D6C;
    padding: 20px;
    border-radius: 40px;
}

.project-box-three{
    width: 23%;
    height: 400px;
    background-color: #6C6D6C;
    padding: 20px;
    border-radius: 40px;
}

.project-top-text{
    font-size: 50px;
    margin-bottom: 30px;
}

.project-picture{
    display: flex;
    justify-self: center;
}

.project-bottom-text{
    font-size: 25px;
    margin: 20px;
    text-align: left;
    font-weight: 100;
}

.column{
    display: flex;
    flex-direction: column;
}

.talen{
    width: 100%;
    height: 700px;
    background-color: #D9D9D9;
}

.talen-box{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    border-radius: 30px;
    color: #ffffff;
    margin-bottom: 60px;
    height: 500px;
    width: 90%;
    background-color: #343435;
}

.talen-box-one{
    color: #353D2F;
    align-self: center;
    font-size: 25px;
    width: 25%;
    height: auto;
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 30px;
    align-self: flex-start;
}

.talen-box-two{
    color: #353D2F;
    align-self: center;
    font-size: 25px;
    width: 25%;
    height: 350px;
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 30px;
    align-self: flex-start;
}

.talen-box-three{
    color: #353D2F;
    align-self: center;
    font-size: 25px;
    width: 25%;
    height: 350px;
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 30px;
    align-self: flex-start;
}

.talen-text{
    font-size: 200px;
    display: flex;
    justify-content: flex-start;
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 20px;
}