*{
    padding: 0;
    margin: 0;
}

header{
    color: #121113;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #d9d9d9;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}

nav{
    color: #ffffff;
    margin-left: 20px;
    display: flex;
    align-items: center;
    margin-left: 40%;
    height: 100px;
    width: 40%;
    font-size: medium;
}

nav a{
    text-decoration: none;
    color: #121113;
}

.home-decoration{
    font-weight: bold;
}

.space-nav{
    margin-right: 50px;
}

.contact-black{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #ffffff;
    background-color: #121113;
    height: 30px;
    width: 100px;
}

.name-decoration{
    text-decoration: none;
    color: #121113;
}

.name{
    font-size: 30px;
    margin-right: 15%;
    margin-left: 5%;
    align-content: center;
    height: 100px;
    width: 20%;
    gap: 10px;
}

.code-design{
    margin-top: 160px;
    margin-bottom: 200px;
    font-size: 73px;
    align-self: flex-start;
}

.wereld-code{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.wereld-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.design{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -40px;
    align-items: center;
}

.code-text{
    font-weight: bold;
}

.design-text{
    font-family: "Pridi", sans-serif;
    font-weight:900;
}

.tygo{
    height: 600px;
    background-color: #6C6D6C;
}